[submodule "esp_mqtt/lib/FastLED"]
	path = esp_mqtt/lib/FastLED
	url = git@github.com:FastLED/FastLED.git
[submodule "esp_mqtt/lib/pubsubclient"]
	path = esp_mqtt/lib/pubsubclient
	url = git@github.com:knolleary/pubsubclient.git
